
<h1>Hello good evng!</h1>
<%= link_to 'My Blog', controller: 'blogs' %>
<%= link_to 'Articles', controller: 'articles'  %>
<%= link_to 'Products', controller: 'products'  %>
<%= link_to 'My category', controller: 'categories' %>
<%= link_to 'books', controller: 'books' %>
