<% #byebug %>

<h1>Listing books</h1>

<%= link_to 'New book', new_book_path %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Created_By</th>
    
    <th>Category_id</th>
  </tr>


 
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.location %></td>
      <td><%= book.created_by %></td>
      <td><%= book.category_id %></td>
      <td><%= link_to 'Show', book_path(book) %></td>
      <td><%= link_to 'Destroy', book_path(book),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
              </tr>
  <% end %>
</table>
<%= link_to 'Back', welcome_index_path %>
